<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body style="background: #4f5af1; padding: 20px">
    <div style="background-color: white; margin: auto; width: 600px; text-align: center">
        <img src="{{baseUrl}}/images/mail_header.svg" style="max-width: 600px; margin-bottom: -30px" />
        <h1>Thank {{ fullName }}</h1>
        <h3 style="margin-top: -15px">for your purchase!</h3>
        <p>We'd love to hear your feedback. Click below to let us know about your experience purchasing tickets from us </p>
        <a style="background: #414ef1; color: #fff; display: inline-block; padding: 20px 10px; margin-bottom: 10px; text-align: center; text-decoration: none; width: 180px; height: auto; border-radius: 8px;" href="#">LEAVE US A REVIEW</a>
    </div>
</body>
</html>
